*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.headerbar{
    display: none;
}

.searchicon{
    display: block;
}

.logo img{
    width: 150px;
}

.bar{
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0 7vw;
    background-color: rgb(227, 33, 33) ;
    border-bottom: 2px solid rgb(253, 253, 8);
    box-shadow: 0 5px 20px rgb(253, 124,124);
}

.header ul{
    display: flex;
    align-items: center;
}

.header ul li:hover{
    color: rgb(253, 253, 8)
}

.nav ul li{
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;
}

.account{
    flex: 0.1
}

.account ul{
    display: flex;
    justify-content: end;
}

.account ul li{
    padding: 0 15px;
    font-size: 18px;
}

.account ul li i{
    margin: 0 5px;
    cursor: pointer;
}

.account ul li i:hover{
    color: #facc22;
}

.fa-cart-shopping{
    color: #000000;
    padding: 5px 4px;
}

.cart-icon{
    display: block;
    padding: 2px 7px;
}
.cart-icon{
    position: relative;
}

.cart-icon span{
    background: var(--secondary-color);
    background: #62ff00;
    color: var(--accent-color);
    border-radius: 50%;
    width:15px;
    height: 15px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    right: -17px;
    top: -5px;
}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.card{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}

.card h1{
    color: #E8BC0B;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

}

.card .checkOut div:nth-child(2){
    background-color: #000000;
    color: #fff;
}

.active .card{
    left: calc(100% - 500px);
}

.active .container{
    transform: translateX(-200px);
}

.bar i:hover{
    color: rgb(253,57,8);
}

.search{
    display: none;
    width: 200px;
    justify-content: center;
}

.search input{
    width: 100%;
    outline: none;
    border:none;
    padding: 5px;
}

.srchicon{
    background-color: rgb(243, 199, 199);
    display:block;
    padding: 4px 5px;
    cursor: pointer;
}

.home{
    background-image: linear-gradient(rgb(255, 255, 255) 68%, rgb(255, 255, 255));
    padding: 07vw
}

.main_slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.main_slide div:nth-child(2){
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.main_slide div:nth-child(1){
    padding-top: 20px;
    flex: 1;
    font-size: 30px;
}

.main_slide div:nth-child(1) p{
    font-size: 13px;
    padding: 20px 0;
}

.main_slide div:nth-child(1) span{
    color: rgb(253, 57, 8);
    text-decoration: underline;
    text-underline-offset: 10px;
    line-height: 80px;
    text-decoration-color: rgb(253, 176, 34);
}

.red_btn{
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color:aliceblue;
    line-height: 50px;
    background-color: rgb(253, 77, 8);
    border-radius: 5px;
    border: 1px solid rgb(253, 77, 8);
    box-shadow: 0 10px 15px rgb(250, 120, 69);
    transition: all 0.2s;
}

.green_btn{
    cursor: pointer;
    margin-top: 0px;
    width: 25px;
    margin-top: 10px;
    display: flex;
    margin: 10px 150px;
    align-items:center;
    color:aliceblue;
    height: 25px;
    background-color: rgb(206, 255, 175);
    border-radius: 205px;
    border: 1px solid rgb(184, 248, 165);
    box-shadow: 0 10px 15px rgb(250, 120, 69);
    transition: all 0.2s;
}

.green_btn i{
    color:rgb(49, 243, 0);
    transition: all 0.2s;
    width: 70px;
}



.red_btn i{
    color:rgb(255, 255, 255);
    transition: all 0.2s;
}

.red_btn:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 15px rgb(250, 120, 69);
    border: 1px solid rgb(253, 77, 8);
    color: rgb(253,77,8);
}

.red_btn:hover i{
    color: rgb(253, 77, 8);
}

.food-items{
    margin: 70px 0;
    padding: 20px 0;
    background-color: rgb(230, 57, 57);
    border-radius:30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item{
    width: 250px;
    padding: 30px;
    text-align:center;
}

.item img{
    width: 190px;
    margin-bottom: 15px;
}

.item p{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.white_btn{
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: rgb(253, 77, 8);
    line-height: 50px;
    border: 1px solid rgb(253, 77, 8);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgb(250, 120, 69);
    transition: all 0.2s;
}

.white_btn:hover{
    color: white;
    background-color: rgb(253, 77, 8);
    box-shadow: 0 10px 15px rgb(250, 120, 69);
}

.item .red_btn, .item .white_btn{
    width: 120px;
    line-height: 35px;
}

.main_slide2{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.foodimg{
    flex: 0.5;
}

.foodimg img{
    max-width: 600px;
    width: 45vw;
}

.question{
    flex: 0.5;
    flex-direction: column;
    margin-left: 40px;
}

.question h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.q-ans{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding: 15px 0;
    cursor: pointer;
}

.q-ans img{
    width: 59px;
}

.q-ans div:first-child{
    padding: 10px;
    border-radius: 50%;
    height: 65px;
    text-align:center;
    background-color: white;
    margin-right: 20px;
    
}

.q-ans div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.q-ans div:nth-child(2) p{
    margin-top: 10px;
    font-size: 13px;
}

.main_slide3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.main_slide3 .fav-head{
    text-align: center;
    width: 450px;
    margin-bottom: 30px;
}

.main_slide3 .fav-head h3{
    font-size: 30px;
    padding: 20px 0;
}

.main_slide3 .fav-head p{
    font-size: 13px;
    text-align: center;
}

.main_slide3 .fav-food{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

.main_slide3 .fav-food .item{
    background-color: rgb(white);
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(119,119,119, 0.438);
    width: 220px;
    padding: 15px;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}

.main_slide3 .fav-food .item div{
    height: 160px;
    margin-bottom: 15px;
}

.main_slide3 .fav-price{
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.main_slide3 .dsgn{
    background-color: rgb(255, 177, 105);
    height: 60%;
    width: 100%;
    position:absolute;
    z-index: -1;
    bottom: 0;
    border-radius: 10px;
    
}

.main_slide3 .fav-food .item img{
    width: 160px;
    margin-bottom: 15px;
}

.main_slide4{
    margin-top: 270px;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 90px;
}

.main_slide4 .chef-feed{
    flex: 0.5;
    margin-top: 30px;
}

.main_slide4 .chef{
    flex: 0.5;
    text-align: right;
}

.main_slide4 .chef img{
    margin-top: -130px;
    width: 50vw;
    max-width: 490px;
}

.main_slide4 .chef-feed h2{
    font-size: 32px;
    margin-bottom: 25px;
}

.main_slide4 .chef-feed p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.main_slide4 .chef-detail{
    margin-top: 20px;
    display: flex;
    margin: 25px 0;
    align-items: center;
}

.main_slide4 .chef-detail img{
    width: 100px;
    border-radius:50px;
    margin-right:15px;
    border: 4px solid rgb(254, 254, 141);
}

.main_slide4 .chef-detail h6{
    font-size: 14px;
}

.main_slide4 .chef-detail p{
    font-size: 11px;
    color: red;
}

.main_slide4 .chef-vic{
    display: flex;
    align-items: center;
    padding: 25px 20px;
    background-color: rgb(254, 254, 141);
    border-radius: 0 100px 0 0;
    margin-top: 40px;
    width: 100%;
}

.main_slide4 .chef-vic div{
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex: 0.5;
    height: 27px;
    overflow: hidden;
}

.main_slide4 .chef-vic div i,
.main_slide4 .chef-vic div h4 {
    font-size: 27px;
    margin-right: 8px;
}

.main_slide4 .chef-vic div h4{
    color: red;
}

.main_slide4 .chef-vic div p{
    font-size: 11px;
    padding-top: 8px;
    line-height: 13px;
}

.footer{
    padding: 60px 10;
    border-top: 2px solid rgb(255, 255, 4);
    background-color: rgb(white);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}

.footer-1 .logo img{
    width: 130px;
    align-items: center;
}

.footer-1 p {
    cursor:pointer;
    font-size: 14px;
    padding: 50px;
    color: rgb(0, 0, 0);
}

.footer-2 {
    text-align: center;
    cursor: pointer;
}

.footer-2 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.footer-2 img {
    width: 120px;
    margin-bottom: 20px;
    align-items: center;
}


.direitos{
    font-family: 'Arial';
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    padding: 8px;
    font-style: italic;
    
}

.banner_bg{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/images/banner_bg.jpeg);
    background-size: cover;
    background-position: center;
}

.banner_bg h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
    top: 50%;
    color: #fff;
}

.banner_bg h1 span{
    color: #facc22;
    margin-right: 15px;
}

.about{
    width: 100%;
    height: 100vh;
    padding: 50px 0 0 0;
    background-image: url(/images/about_bg.jpg);
    background-size: cover;
    background-position: center;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .about_image img{
    width: 750px;
}

.about .about_main .about_text h3{
    position: relative;
    bottom: 10px;
    font-size: 25px;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    line-height: 23px;
    margin-top: 20px;
}

.about .about_main .about_text .about_services{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about .about_main .about_text .about_services .s_1{
    display: flex;
    align-items: center;
    width: 180px;
    background: #ececec;
    padding: 10px;
    border: 2px solid #facc22;
    cursor: pointer;
}

.about .about_main .about_text .about_services .s_1 i{
    color: #000;
    margin: 5px 10px 5px 5px;
    font-size: 20px;
    transition: 0.3s;
}


.about .about_main .about_text .about_services .s_1:hover i{
    color: #facc22;
}


.about .about_main .about_text .about_services .s_1 i a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.about .about_main .about_text .about_btn{
    position: relative;
    top: 35px;
    padding: 10px 20px;
    border: 2px solid #facc22;
    text-decoration: none;
    color: #000;
    z-index: 5;
    transition: 0.3s; 
}

.about .about_main .about_text .about_btn i{
    font-size: 15px;
    margin-right: 8px;
}

.about .about_main .about_text .about_btn:hover{
    color:#000;
}

.about .about_main .about_text .about_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #facc22;
    z-index: -1;
    transition: 0.3s;
}

.about .about_main .about_text .about_btn:hover::before{
    top: unset;
    width: 100%;
    bottom: 0;
}

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #facc22;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

footer .end span{
    color: #facc22;
    margin-left: 10px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #facc22;
    border-radius: 30px;
}

.anim{
    transform: translateY(40px);
    animation: moveup 0.5s linear forwards;
    opacity: 0;
}


footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #f7fa99;
}

footer .footer_main_dois{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main_dois .footer_tag_dois{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #facc22;
}

footer .end_dois{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

footer .end_dois span{
    color: #000;
    margin-left: 10px;
}







.menu-rest{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 10%;
}

.menu-rest .categoria-rest{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 91%;
}

.menu-rest .categoria-rest .menu-itemrest{
    background-color: rgb(white);
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(119,119,119, 0.438);
    width: 260px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
    height: 150px;
}

.menu-rest .categoria-rest .menu-itemrest div{
    height: 40px;
    margin-bottom: 15px;
}


.menu-rest .categoria-rest .menu-itemrest img{
    width: 140px;
    margin-bottom: 15px;
}


.categoria-rest{
    display: flex;
    margin: 280px;
    margin-top: 25px;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.menu-itemrest {
    width: 100px;
    height: 100px;
    text-align: center;
  }

.menu-rest .font-rest{
    text-align: left;
    width: 1380px;
}

.menu-rest h3{
    text-align:left;
    font-size: 24px;
    font-family: sans-serif;
    display: block;
    font-size: 1.5em;
    font-weight: 600;
}


.menu-itemrest p {
  display: inline-block;
  margin-right: 10px;

}


@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


@media only screen and (max-width: 768px){
    .header .nav,.header .account{
        display: none;
    }

    .search{
        width: 60vw;
    }

    .bar{
        display: block;
        cursor: pointer;
    }


    .headerbar{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        bottom: 0;
        right: -100%;
        transition: all 0.5s;
        background-color: rgb(249, 198, 29);

    }

    .headerbar .account, .headerbar .nav{
        display: block;
        font-size: 18px;
    }
    .bar .fa-xmark{
        display: none;
        top: 20px;
        right: 5w;
        position: absolute;
        font-size: 25px;
    }
    .headerbar .nav ul{
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }
    
    .headerbar .nav li{
        width: 96vw;
        margin: 10px 0;
        padding: 15px, 30px;
        box-shadow: 0 2px 15px rgb(255, 72, 0);
        font-size: 15px;
        margin-top: 5px;
    }
    
    .headerbar .account{
        line-height: 40px;
        margin-top: 60px;
        background-color: rgb(251, 0, 0);
        padding: 15px;
    }

    .headerbar .account ul{
        justify-content: space-between;
    }

    .foodimg{
        flex:1;
        text-align: center;
        margin-bottom: 20px;
    }

    .foodimg img{
        width: 70vw;
    }

    .question{
        flex:1;
        margin-top: 30px;
    }

    .question h2{
        font-size: 25px;
    }

    .q-ans div:nth-child(2) p{
        font-size: 11px;
    }

    .main_slide3{
        margin-top: 100px;
    }

    .main_slide3 .dsgn{
        height: 60%;
    }

    .main_slide3 .fav-head{
        width: 80%;
        margin-bottom: 20px;
    }

    .main_slide4{
        margin-top: 150px;
    }

    .main_slide4 .chef-feed{
        flex: 1;
    }

    .main_slide4 .chef{
        flex: 1;
        text-align: center;
        margin-bottom: 40px;

    }

    .main_slide4 .chef img{
        width: 80vw;
    }

    .footer .footer-1 div{
        margin: 0;
    }

    .footer div{
        margin-bottom: 40px;
    }
}


@media only screen and(max-width: 550px){

    .main_slide div:nth-child(1){
        font-size: 18px;
    }

    .main_slide div:nth-child(1) p{
        padding-top: 5px;
        margin: 10px 0;
        font-size: 11px;    
    }

    .red_btn{
        margin-top: 10px;
        width: 120px;
        line-height: 30px;
        font-size: 12px;
        padding: 0 10px;
    }

    .main_slide div:nth-child(1) span{
        text-underline-offset:  5px;
    }

    .main_slide div:nth-child(2) img{
        width: 70vw;
    }

    .food-items{
        padding: 10px 0;
    }

    .item{
        width: 60%;
        padding: 30px 5px;
    }

    .item h3{
        font-size: 20px;
        margin-bottom: 5px;
    }

    .main_slide3 .fav-head{
        width: 100%;
    }

    .main_slide3 .fav-head h3{
        font-size: 25px;
    }

    .main_slide3 .fav-head p{
        font-size: 11px;
    }

    .main_slide3 .dsgn{
        display: none;
    }

    .main_slide4 .chef-vic div p{
        display: none;
    }

    .footer div:last-child{
        margin-bottom: 0;
    }

    .footer{
        padding-bottom: 25px;
    }

    .footer-2 h2{
        font-size: 20px;
    }
}





